<hr class="opacity-10">
<div class="flex flex-col">
    <div class="p-4 flex">
        <i class="fa-solid fa-utensils my-auto mr-2"></i>
        <p class="text-xl">SecondServe</p>
    </div>
</div>
<hr class="opacity-10">
<div class="py-6 flex flex-col text-center md:flex-row md:justify-between md:mx-8">
    <div class="py-2">
        <a href="#"><i class=" fa-brands fa-instagram"></i></a>
        <a href="#"><i class="mx-8 fa-brands fa-twitter"></i></a>
        <a href="#"><i class=" fa-brands fa-square-facebook"></i></a>
    </div>
    <div class="py-2">
        <a href="#" class="hover:underline">Privacy Policy</a>
        <a href="#" class="mx-8 hover:underline">Terms</a>
        <a href="#" class="hover:underline">Pricing</a>
    </div>
    <div class="py-2">© 2025 SecondServe</div>
</div>