<nav id="nav_bot_outer" class="block md:hidden bg-[#439189]">
    <div id="navbot" class="flex justify-around">

        <a href="/main.html" class="hover:bg-slate-400 transition ">
            <i class="fa-solid fa-house fa-lg p-8"></i></i>
        </a>
        <a href="/browse.html" class="hover:bg-slate-400 transition">
            <i class="fa-solid fa-basket-shopping fa-lg p-8"></i>
        </a>
        <a href="/map.html" class="hover:bg-slate-400 transition">
            <i class="fa-solid fa-map-location-dot fa-lg p-8"></i>
        </a>
        <a href="/account.html" class="hover:bg-slate-400 transition">
            <i class="fa-solid fa-user fa-lg p-8"></i>
        </a>
    </div>
</nav>

<script>
    let current = window.location.pathname;
    console.log(current);
    document.querySelectorAll("#navbot a").forEach(function (elem) {
        if (elem.href.includes(current)) {
            elem.classList.add("text-green-900", "bg-[#a0ccc0]", "rounded-md");
        }
    });
</script>