<!-- Sidebar -->
<div class="fixed left-0 top-0 h-full bg-white w-[200px] border-r-2 border-slate-300 z-100" style="display:none"
    id="sidebar">
    <div class="flex flex-col text-center">
        <button onclick="navClose()" class="cursor-pointer mr-auto p-3 mx-3 mt-2 text-[#439189]"><i
                class="drop-shadow-sm fa-solid fa-xmark fa-lg"></i></button>
        <a href="/main.html" class="text-lg px-6 py-2 hover:bg-[#c2e9e5]">Home</a>
        <a href="/browse.html" class="text-lg px-6 py-2 hover:bg-[#c2e9e5]">Browse</a>
        <a href="/map.html" class="text-lg px-6 py-2 hover:bg-[#c2e9e5]">Map</a>
        <a href="/account.html" class="text-lg px-6 py-2 hover:bg-[#c2e9e5]">Account</a>
        <hr class="text-slate-300 my-2">
        <button class="text-lg px-6 py-2 hover:bg-[#c2e9e5]" onclick="logout()">Logout</button>
    </div>
</div>

<!-- Navbar  -->
<nav class="flex justify-between py-4 px-6 bg-[#439189]">
    <div class="my-auto">
        <button class="hidden md:inline mr-6 cursor-pointer" onclick="navOpen()"><i
                class="drop-shadow-sm fa-solid fa-bars fa-lg text-[#fde8b2]"></i></button>
        <a href="/main.html">
            <i class="drop-shadow-sm fa-solid fa-utensils fa-lg text-[#fde8b2]"></i>
        </a>
    </div>
    <div class="flex min-w-1/2">
        <button type="submit">
            <i class="hover:cursor-pointer drop-shadow-sm fa-solid fa-magnifying-glass fa-lg mr-4 text-[#fde8b2]"></i>
        </button>
        <input type="text" placeholder=" Search SecondServe" name="search"
            class="border p-1 rounded-lg bg-white w-full">
    </div>
    <a href="cart.html" class="my-auto">
        <i class="drop-shadow-sm fa-solid fa-cart-shopping fa-lg text-[#fde8b2]"></i>
    </a>
</nav>