<nav class="block md:hidden bg-slate-300">
    <div id="navbot" class="flex justify-around">

        <a href="/main.html" class="hover:bg-slate-400 transition">
            <i class="fa-solid fa-house p-6"></i>
        </a>
        <a href="/browse.html" class="hover:bg-slate-400 transition">
            <i class="fa-solid fa-basket-shopping p-6"></i>
        </a>
        <a href="/map.html" class="hover:bg-slate-400 transition">
            <i class="fa-solid fa-map-location-dot p-6"></i>
        </a>
        <a href="/account.html" class="hover:bg-slate-400 transition">
            <i class="fa-solid fa-user p-6"></i>
        </a>
    </div>
</nav>