
    <nav class="flex justify-between py-3 px-6 bg-slate-300">
        <a href="#" class="my-auto">
            <i class="fa-solid fa-utensils"></i>
        </a>

        <div class="my-2">
            <a href="login.html"
                class="border rounded-md py-2 px-3 mr-2 text-green-800 cursor-pointer active:bg-green-300 hover:bg-green-800 hover:text-white"
                role="button">Login</a>

            <a href="login.html"
                class="border rounded-md py-2 px-3 bg-green-800 text-white border-green-800 active:bg-green-700 hover:bg-green-300 hover:text-black cursor-pointer"
                role="button">Signup</a>

        </div>
    </nav>