<nav id="nav_bot_outer" class="block md:hidden bg-[#439189]">
    <div id="navbot" class="flex justify-around">

        <a href="/main.html" class="hover:bg-[#5bb4ab] transition ">
            <i class="fa-solid fa-house fa-lg p-8 text-[#fde8b2] drop-shadow-sm"></i></i>
        </a>
        <a href="/stores.html" class="hover:bg-[#5bb4ab] transition">
            <i class="fa-solid fa-shop fa-lg p-8 text-[#fde8b2] drop-shadow-sm"></i>
        </a>
        <a href="/account.html" class="hover:bg-[#5bb4ab] transition">
            <i class="fa-solid fa-heart fa-lg p-8 text-[#fde8b2] drop-shadow-sm"></i>
        </a>
        <a href="/account.html" class="hover:bg-[#5bb4ab] transition">
            <i class="fa-solid fa-user fa-lg p-8 text-[#fde8b2] drop-shadow-sm"></i>
        </a>
    </div>
</nav>

<script>
    let current = window.location.pathname;
    console.log(current);
    document.querySelectorAll("#navbot a").forEach(function (elem) {
        if (elem.href.includes(current)) {
            elem.classList.add("text-[#17554f]", "bg-[#63bbb2]", "hover:bg-[#71d3c9]");
        }
    });
</script>