<article id="stores-products-go-here" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

</article>

<template id="storeProductCardTemplate">
    <!-- CARD  -->
    <!-- BG IMAGE  -->
    <div class="relative mx-auto md:mx-2 my-2 md:my-0 rounded-md md:w-[400px] w-fit overflow-hidden drop-shadow-md">
        <img src="/images/cafe.jpg" class="card-image absolute -z-10 object-cover object-center brightness-50">

        <!-- TEXT  -->
        <div class="text-white group drop-shadow-sm">
            <div class="p-4 py-2">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold">Store Name</h1>
                </div>
                <p class="text-sm/tight opacity-80">Address</p>
            </div>
        </div>
        <!-- PRODUCT ITEMS  -->
        <div class="flex">
            <div class="bg-white w-11/12 m-4 p-4 pb-2 rounded-md text-lg  mx-auto">
                <p>Item name</p>
                <p class="text-sm opacity-75 mb-2">Get it before: time</p>
                <div class="overflow-hidden h-[150px] rounded-md">
                    <img src="https://picsum.photos/599/599" alt="" class="object-cover object-center">
                </div>
                <hr class="mt-2 opacity-30">
                <h3 class="font-semibold text-center"><s class="opacity-75">$10.00</s> → $5.00</h3>
            </div>
        </div>
    </div>

    </article>