<article class="main-gallery js-flickity" data-flickity-options='{ "contain": true, "wrapAround": true }'>
    <!-- CARD  -->
    <!-- BG IMAGE  -->
    <div class="gallery-cell relative mx-6 rounded-md md:w-[400px] w-fit overflow-hidden drop-shadow-md">
        <img src="/images/cafe.jpg" class="absolute -z-10 object-cover object-center">

        <!-- TEXT  -->
        <div class="text-white transition-all group">
            <div
                class="mt-10 bg-black/60 border-black p-4 pt-2 pb-6 md:translate-y-26 md:group-hover:translate-y-0 md:transition">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold">Store Name</h1>
                    <h3 class="font-semibold text-right">3 Offers Left</h3>
                </div>
                <hr class="my-2 opacity-30">
                <p class="my-2">Address</p>
                <p
                    class="mt-2 mb-6 text-sm/tight opacity-80 md:transition-all md:opacity-0 md:group-hover:opacity-80 md:invisible md:group-hover:visible">
                    Store desc: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <a href="#"
                    class="md:opacity-0 md:group-hover:opacity-100 bg-black/50 text-white font-semibold border-2 my-4 py-2 px-4 rounded-lg hover:bg-black transition">Visit
                    Store Page</a>
            </div>
        </div>
    </div>

    <!-- CARD  -->
    <!-- BG IMAGE  -->
    <div class="gallery-cell relative mx-6 rounded-md md:w-[400px] w-fit overflow-hidden drop-shadow-md">
        <img src="/images/cafe.jpg" class="absolute -z-10 object-cover object-center">

        <!-- TEXT  -->
        <div class="text-white transition-all group">
            <div
                class="mt-10 bg-black/60 border-black p-4 pt-2 pb-6 md:translate-y-26 md:group-hover:translate-y-0 md:transition">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold">Store Name</h1>
                    <h3 class="font-semibold text-right">3 Offers Left</h3>
                </div>
                <hr class="my-2 opacity-30">
                <p class="my-2">Address</p>
                <p
                    class="mt-2 mb-6 text-sm/tight opacity-80 md:transition-all md:opacity-0 md:group-hover:opacity-80 md:invisible md:group-hover:visible">
                    Store desc: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <a href="#"
                    class="md:opacity-0 md:group-hover:opacity-100 bg-black/50 text-white font-semibold border-2 my-4 py-2 px-4 rounded-lg hover:bg-black transition">Visit
                    Store Page</a>
            </div>
        </div>
    </div>

    <!-- CARD  -->
    <!-- BG IMAGE  -->
    <div class="gallery-cell relative mx-6 rounded-md md:w-[400px] w-fit overflow-hidden drop-shadow-md">
        <img src="/images/cafe.jpg" class="absolute -z-10 object-cover object-center">

        <!-- TEXT  -->
        <div class="text-white transition-all group">
            <div
                class="mt-10 bg-black/60 border-black p-4 pt-2 pb-6 md:translate-y-26 md:group-hover:translate-y-0 md:transition">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold">Store Name</h1>
                    <h3 class="font-semibold text-right">3 Offers Left</h3>
                </div>
                <hr class="my-2 opacity-30">
                <p class="my-2">Address</p>
                <p
                    class="mt-2 mb-6 text-sm/tight opacity-80 md:transition-all md:opacity-0 md:group-hover:opacity-80 md:invisible md:group-hover:visible">
                    Store desc: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <a href="#"
                    class="md:opacity-0 md:group-hover:opacity-100 bg-black/50 text-white font-semibold border-2 my-4 py-2 px-4 rounded-lg hover:bg-black transition">Visit
                    Store Page</a>
            </div>
        </div>
    </div>

    <!-- CARD  -->
    <!-- BG IMAGE  -->
    <div class="gallery-cell relative mx-6 rounded-md md:w-[400px] w-fit overflow-hidden drop-shadow-md">
        <img src="/images/cafe.jpg" class="absolute -z-10 object-cover object-center">

        <!-- TEXT  -->
        <div class="text-white transition-all group">
            <div
                class="mt-10 bg-black/60 border-black p-4 pt-2 pb-6 md:translate-y-26 md:group-hover:translate-y-0 md:transition">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold">Store Name</h1>
                    <h3 class="font-semibold text-right">3 Offers Left</h3>
                </div>
                <hr class="my-2 opacity-30">
                <p class="my-2">Address</p>
                <p
                    class="mt-2 mb-6 text-sm/tight opacity-80 md:transition-all md:opacity-0 md:group-hover:opacity-80 md:invisible md:group-hover:visible">
                    Store desc: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <a href="#"
                    class="md:opacity-0 md:group-hover:opacity-100 bg-black/50 text-white font-semibold border-2 my-4 py-2 px-4 rounded-lg hover:bg-black transition">Visit
                    Store Page</a>
            </div>
        </div>
    </div>

    <!-- CARD  -->
    <!-- BG IMAGE  -->
    <div class="gallery-cell relative mx-6 rounded-md md:w-[400px] w-fit overflow-hidden drop-shadow-md">
        <img src="/images/cafe.jpg" class="absolute -z-10 object-cover object-center">

        <!-- TEXT  -->
        <div class="text-white transition-all group">
            <div
                class="mt-10 bg-black/60 border-black p-4 pt-2 pb-6 md:translate-y-26 md:group-hover:translate-y-0 md:transition">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold">Store Name</h1>
                    <h3 class="font-semibold text-right">3 Offers Left</h3>
                </div>
                <hr class="my-2 opacity-30">
                <p class="my-2">Address</p>
                <p
                    class="mt-2 mb-6 text-sm/tight opacity-80 md:transition-all md:opacity-0 md:group-hover:opacity-80 md:invisible md:group-hover:visible">
                    Store desc: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <a href="#"
                    class="md:opacity-0 md:group-hover:opacity-100 bg-black/50 text-white font-semibold border-2 my-4 py-2 px-4 rounded-lg hover:bg-black transition">Visit
                    Store Page</a>
            </div>
        </div>
    </div>

</article>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>