<nav class="flex justify-between p-4 bg-slate-300">
    <a href="#" class="my-auto">
        <i class="fa-solid fa-utensils"></i>
    </a>
    <div>
        <form>
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" placeholder="Search SecondServe" name="search" class="border p-1 rounded-lg bg-white">
        </form>
    </div>
    <a href="#" class="my-auto">
        <i class="fa-solid fa-cart-shopping"></i>
    </a>
</nav>